{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"]
        },
        "modules": false
      }
    ],
    "es2015",
    "react"
  ],
  "plugins": ["transform-runtime"]
}
