@import "~normalize.css/normalize.css";

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 100;
  color: #333;
  line-height: 1.4;
}
